{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create_card_closed">
            <a href="{% url "sets:create" set.id%}" class="menu-link">
                <span>Create Simple Card</span>
            </a>
        </div>

        <div class="errors">
            {{ form.non_field_errors }}
        </div>

        <p>Question</p>
        <textarea name="question" rows="7">
            HERE WRITE YOUR QUESTION, BELOW- ANSWERS
            a: 
            b: 
            c: 
            d: 
            e: 
            f: 
        </textarea>
  


        <input type="file" name="question_image" accept="image/*">

        <div class="closed_answers">
            <input type="hidden" name="answers_count" value="6">
            

            <input type="hidden" name="letter_0" value="A">
            <input type="checkbox" name="is_correct_0">
            <p>A</p>

            <input type="hidden" name="letter_1" value="B">
            <input type="checkbox" name="is_correct_1">
            <p>B</p>

            <input type="hidden" name="letter_2" value="C">
            <input type="checkbox" name="is_correct_2">
            <p>C</p>

            <input type="hidden" name="letter_3" value="D">
            <input type="checkbox" name="is_correct_3">
            <p>D</p>

            <input type="hidden" name="letter_4" value="E">
            <input type="checkbox" name="is_correct_4">
            <p>E</p>

            <input type="hidden" name="letter_5" value="F">
            <input type="checkbox" name="is_correct_5">
            <p>F</p>
        </div>
        
        <p><input type="submit" value="Create Card"></p>
        
    </form>
{% endblock content %}