{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create_card_closed">
            <a href="{% url "sets:create" set.id%}" class="menu-link">
                <span>Create Simple Card</span>
            </a>
        </div>

        <div class="errors">
            {{ form.non_field_errors }}
        </div>

        <p>Question</p>
        <textarea name="question"></textarea>
        <input type="file" name="question_image" accept="image/*">

        <div class="closed_answers">
            <div class="answer">
                <p>answer A</p>
                <textarea name="letter">A</textarea>
                <input type="checkbox" name="is_correct">
            </div>
            <div class="answer">
                <p>answer B</p>
                <textarea name="letter">B</textarea>
                <input type="checkbox" name="is_correct">
            </div>
            <div class="answer">
                <p>answer C</p>
                <textarea name="letter">C</textarea>
                <input type="checkbox" name="is_correct">
            </div>
            <div class="answer">
                <p>answer D</p>
                <textarea name="letter">D</textarea>
                <input type="checkbox" name="is_correct">
            </div>
            <div class="answer">
                <p>answer E</p>
                <textarea name="letter">E</textarea>
                <input type="checkbox" name="is_correct">
            </div>
            <div class="answer">
                <p>answer F</p>
                <textarea name="letter">F</textarea>
                <input type="checkbox" name="is_correct">
            </div>
        </div>
        
        <p><input type="submit" value="Create Card"></p>
        
    </form>
{% endblock content %}