{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create_card_closed">
            <a href="{% url "sets:create_closed" set.id %}" class="menu-link">
                <span> Create Closed Question</span>
            </a>
        </div>

        <div class="errors">
            {{ form.non_field_errors }}
        </div>

        <textarea name="question"></textarea>
        <input type="file" name="question_image" accept="image/*">

        <textarea name="answer"></textarea>
        <input type="file" name="answer_image" accept="image/*">
        
        <p><input type="submit" value="Create Card"></p>
        
    </form>
{% endblock content %}