{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
  <p>
    WELCOME TO THE PANEL
    <br>
    HERE YOU CAN <a href="{% url 'edit' %}">edit your profile</a> OR <a href="{% url 'password_change' %}">change your password</a>
  </p>

  <h2>Your sets</h2>
  {% comment %} Here, should be displayed all elements with or without functionalities on dashboard {% endcomment %}
  
  {% comment %} include sets plates grid {% endcomment %}
  {% include 'sets/sets_plates.html' %}

{% endblock %}